{% extends "base.html" %}

{% block content %}

<div style="border-style: solid; border-width: 2px; border-color: #e3e3e3; border-radius: 5px; margin-top: 1%; padding: 1%;">
    <h3>Edit Account Info</h3>
    <form action="{{ url_for('users.edit_account_info') }}" method="POST">
        <div class="form-group" style="margin-top: 2%;">
            <!-- FIRST NAME -->
            <label for="fname-value" class="control-label" style="margin-top: 0.5%;"><b>First Name:</b></label>
            <input name="fname-value" type="text" id="fname-value" class="form-control" autofocus="autofocus" value="{{current_user.firstname}}" />
        </div>
        <div class="form-group" style="margin-top: 2%;">
            <!-- LAST NAME -->
            <label for="lname-value" class="control-label" style="margin-top: 0.5%;"><b>Last Name:</b></label>
            <input name="lname-value" type="text" id="lname-value" class="form-control" autofocus="autofocus" value="{{current_user.lastname}}" />
        </div>
        <div class="form-group" style="margin-top: 2%;">
            <!-- EMAIL -->
            <label for="email-value" class="control-label" style="margin-top: 0.5%;"><b>Email:</b></label>
            <input name="email-value" type="text" id="email-value" class="form-control" autofocus="autofocus" value="{{current_user.email}}" />
        </div>
        <div class="form-group" style="margin-top: 2%;">
            <!-- MAILING ADDRESS -->
            <label for="street-value" class="control-label" style="margin-top: 0.5%;"><b>Mailing Address:</b></label>
            <input name="street-value" type="text" id="street-value" class="form-control" autofocus="autofocus" value="{{current_user.street}}" />
        </div>
        <div class="form-group" style="margin-top: 2%;">
            <!-- ZIP CODE -->
            <label for="zip-value" class="control-label" style="margin-top: 0.5%;"><b>ZIP Code:</b></label>
            <input name="zip-value" type="text" id="zip-value" class="form-control" autofocus="autofocus" value={{current_user.zip}} />
        </div>
            <button type="submit" class="btn btn-primary" id="confirm-edits" style="background-color: green; border-color: green; margin-top: 1%;">Confirm Edits</button>
        </div>
    </form>
</div>

{% endblock %}