{% extends "base.html" %}

{% block content %}

<p><a href="{{ url_for('index.index') }}" type="button" class="btn-close" aria-label="Close">Home</a></p>
<h1>Today's Top Rated Products!</h1>
{% if products != None %}
<div class="card-deck">
{% for product in products %}
 
  <div class="card text-center" style="min-width: 18rem; max-width: 20rem; margin: 1rem" onclick="window.location.href='{{ url_for('products.productPage', id=product.product_id, page = 0)}}'">
    <div style="width:100%; text-align:center">
      <img  style="max-width: 75%; height: auto; " src="{{product.image_file}}" alt="">
    </div>
    
    <div class="card-body" >
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">Average Price: {{product.avg_price}}</p>
    {% if product.total_stock > 0 %}
        <p class="card-text" style="color:green"> In Stock <small class="text-muted">{{product.sellers}} unique sellers</small></p> 
    {% else %}
        <p class="card-text" style="color:red"> Out of Stock </p>
    {% endif %}
    
    <p class="card-text">Average rating: {{product.avg_rating}} </p>
    <p class="card-text"><small class="text-muted">{{product.description}}</small></p>

    </div>
  </div>

  {% endfor %}
</div>
{% endif %}
{% endblock %}