{% extends "base.html" %}

{% block content %}

<br>
<a href="{{ url_for('index.index') }}">Home</a>
<p><a href="{{ url_for('products.products_by_cat', cat_name=summary.cat_name, page=0, amount=10, sort_by='none', direction='none', search='...' )}}">Other {{summary.cat_name}} products</a></p>
<br><br><br><br><br><br>
<br>
<div class="contain-top">
<div style="width:30%;height:10%;line-height:3em;overflow:scroll;padding:5px; float: right; border: 3px solid black">
  <h3>Buy this product from current sellers!</h3>
  {% if not(current_user.is_authenticated) %}
  <small class="text-muted">Log in to add products to your cart</small>
  {% endif %}
  {% if summary.total_stock > 0 %}
  <div style=" margin-top: 1%; padding: 1%;">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sortModal">Sort</button>
  </div>
  
  
  <div class="modal fade" id="sortModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <form action="{{ url_for('products.productPage', id=summary.product_id, page = 0)}}" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Sort by:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <small class="text-muted">Feature</small>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sort_type" id="price" value="price" required>
            <label class="form-check-label" for="price">Price</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sort_type" id="stock" value="stock">
            <label class="form-check-label" for="avg_rating">Stock</label>
          </div>
          <br>
          <small class="text-muted">Direction</small>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="direction" id="asc" value="asc" required>
            <label class="form-check-label" for="asc">Asc</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="direction" id="desc" value="desc">
            <label class="form-check-label" for="desc">Desc</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" id="confirm-deposit" style="background-color: green; border-color: green;">Apply</button>
        </div>
        </form>
      </div>
    </div>
  </div>

      {% for seller in sellers %}
        <div>
          <a href="{{ url_for('index.pub_view', user_id=seller.seller_id) }}">{{seller.firstname}} {{seller.lastname}}  
          <small class="text-muted">(Price: {{seller.price}}; Stock: {{seller.stock}})</small></a>

          {% if current_user.is_authenticated %}
          <form action="{{ url_for('cartRouter.add_cart', user_id=current_user.id, seller_id=seller.seller_id, product_id=product.id, quantity = "0") }}" method="POST">
            <input type="number" id="quantity" name="quantity" required
                min="1" max="{{seller.stock}}">
            <input type="submit" value="Add to Cart">
          </form>
          {% endif %}
        </div>

      {% endfor %}
      {% else %}
      <div>
        No current listings
      </div>

      {% endif %}
</div>


  <div style="width: 70%;text-align: center;float:center">
    <h2 style="text-align: center;"> {{summary.name}} </h2>
      {% if summary.image_file == '0' %}
      <small class="text-muted">No image listed</small>
      {% else %}
        <img style="text-align: center;" src="{{product.image_file}}">
      {% endif %}
        <div style="text-align: center;">
          
        <h2> Average Rating: {{summary.avg_rating}} </h2>
        <p>ID: {{summary.product_id}}</p>
		{% if summary.total_stock > 0 %}
		    <h5 style="font-size: 24px; color:green"> In Stock</h5>
    {%else%}
            <h5 style="font-size: 24px; color:red"> Out of Stock </h5>
    {%endif%}
		<h5>Category: <a href="{{ url_for('products.products_by_cat', cat_name=summary.cat_name, page=0, amount=10, sort_by='none', direction='none', search='...' )}}">{{summary.cat_name}}</a></h5>
		<h5>Average Price: {{summary.avg_price}}</h5>
    <h5>Total Stock: {{summary.total_stock}}</h5>
		<h5>Description: {{summary.description}}</h5>

        </div>
  </div>

</div>
<br><br><br><br><br><br>
		<h5>Reviews: ({{summary.reviews}}) </h5>
        {% if reviews %}
        <div class="card-columns">
        {% for review in reviews %}
            <div class="card" style="max-width: 18rem;">
              <div class="card-body" onclick="window.location.href='{{ url_for('index.review_history', page=0, type='product_history', id=product.id)}}'">
                <h5 class="card-title">Rating: {{review.rating}}</h5>
                <p class="card-text">User: {{review.firstname}} {{review.lastname}} </p>
                <p class="card-text">Description: {{review.description}}</p>
                <p class="card-text"><small class="text-muted">{{review.date_time}}</small></p>
              </div>
            </div>
        {% endfor %}
        </div>
        {% endif %}
        {% if page == 0 %}
        <nav aria-label="product pagination">
          <ul class="pagination">
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="{{ url_for('products.productPage', id=product.id, page = page + 1)}}">Next</a></li>
          </ul>
        </nav>
          {% elif stop == True  %}
          <nav aria-label="product pagination">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="{{ url_for('products.productPage', id=product.id, page = page - 1)}}">Previous</a></li>
              <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
          {% else %} 
          <nav aria-label="product pagination">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="{{ url_for('products.productPage', id=product.id, page = page - 1)}}">Previous</a></li>
              <li class="page-item"><a class="page-link" href="{{ url_for('products.productPage', id=product.id, page = page + 1)}}">Next</a></li>
            </ul>
          </nav>
          {% endif %}
          <small class="text-muted">Page: {{page}}</small>
<br><br><br>
{% endblock %}
